version: '3.8'

services:
  gitlab:
    image: gitlab/gitlab-ce:latest
    container_name: gitlab
    restart: always
    hostname: {{ gitlab_hostname | default('gitlab.local') }}
    ports:
      - "80:80"
      - "443:443"
      - "2222:22"
      - "5050:5050"
    volumes:
      - /opt/gitlab/config:/etc/gitlab
      - /opt/gitlab/logs:/var/log/gitlab
      - /opt/gitlab/data:/var/opt/gitlab
    environment:
      GITLAB_OMNIBUS_CONFIG: |
        external_url 'http://{{ ansible_default_ipv4.address }}'
        registry_external_url 'http://{{ ansible_default_ipv4.address }}:5050'
        nginx['listen_port'] = 80
        nginx['listen_https'] = false
        prometheus_monitoring['enable'] = false
    shm_size: '256m'