external_url 'http://{{ ansible_default_ipv4.address }}'
registry_external_url 'http://{{ ansible_default_ipv4.address }}:5050'

nginx['listen_port'] = 80
nginx['listen_https'] = false

prometheus_monitoring['enable'] = false
grafana['enable'] = false
gitlab_kas['enable'] = false
gitlab_pages['enable'] = false

postgresql['shared_buffers'] = "256MB"