global:
  hosts:
    domain: {{ gitlab_domain }}
    https: false
  
  ingress:
    enabled: false

nginx-ingress:
  enabled: false

certmanager:
  install: false

gitlab:
  webservice:
    ingress:
      enabled: false
    
    resources:
      requests:
        memory: {{ gitlab_resources.webservice.requests.memory }}
        cpu: {{ gitlab_resources.webservice.requests.cpu }}
      limits:
        memory: {{ gitlab_resources.webservice.limits.memory }}
        cpu: {{ gitlab_resources.webservice.limits.cpu }}
    
    replicas: 1

  gitlab-shell:
    resources:
      requests:
        memory: "256Mi"
        cpu: "100m"
      limits:
        memory: "512Mi"
        cpu: "500m"
    
    replicas: 1

  sidekiq:
    resources:
      requests:
        memory: {{ gitlab_resources.sidekiq.requests.memory }}
        cpu: {{ gitlab_resources.sidekiq.requests.cpu }}
      limits:
        memory: {{ gitlab_resources.sidekiq.limits.memory }}
        cpu: {{ gitlab_resources.sidekiq.limits.cpu }}

postgresql:
  persistence:
    enabled: true
    storageClass: {{ storage_class_name }}
    size: 50Gi

redis:
  persistence:
    enabled: true
    storageClass: {{ storage_class_name }}
    size: 20Gi

minio:
  persistence:
    enabled: true
    storageClass: {{ storage_class_name }}
    size: 100Gi

gitaly:
  persistence:
    enabled: true
    storageClass: {{ storage_class_name }}
    size: 100Gi

gitlab-pages:
  enabled: false

prometheus:
  install: false

grafana:
  enabled: false